/*--------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------*/

/*-- CONTENIDO PARA MOVIL --*/
/* Todo en general */

*{
  box-sizing:border-box; 
  margin:0; 
  padding:0;
  font-family: 'Manrope', sans-serif;
}

/* Encabezado */
header{
  display:flex;  
  flex-flow:row nowrap;
  background-color:#252526;
  height:auto;
}

/* Menu hamburguesa */
header label#hamburguesa{
  position:relative;
  margin-left: auto;
  cursor:pointer;
  align-self: center;
  width:3em;
  height: 2.5em;
}

header label#hamburguesa span{
  position:absolute;
  left:-5em;
  display:block;
  width:3em;
  height: 0.3em;
  background-color: white;
  transition-duration: 0.3s;
}

header label#hamburguesa span:nth-child(1){
top:0;
}

header label#hamburguesa span:nth-child(2){
  top:1em;
 
}
header label#hamburguesa span:nth-child(3){
      top:2em;     
}

#ham{
   display:none;
}

#ham:checked + #hamburguesa span:nth-child(1){
    transform: rotate(45deg);
    top:1em;
}

#ham:checked + #hamburguesa span:nth-child(2){
   transform:rotate(180deg);
   opacity:0;
}

   
#ham:checked + #hamburguesa span:nth-child(3){
  transform:rotate(-45deg);
  top:1em;
}

  .active{
    left:0;
  }
  
  ul#menu{ 
    left: 0;
    bottom: 0;
    margin:0;
    padding:20px 0;
    position:absolute;
    top:7.2em;
    background-color:#252526;
    z-index:1;display:flex;flex-direction: column;
  }

  ul p{
    display:none;
  }

  ul#menu li{
    list-style:none;
    display:none;
  }
  
  ul#menu li a:hover{
    background-color:#08518C;
  }
  
  ul#menu a{
    padding:10px 20px;
    color:white;
    display:block;
    text-decoration:none;
    
  }
  

#ham:checked + #hamburguesa + ul#menu{
      width:250px;
      
}
#ham:checked + #hamburguesa +ul p{
  display:inline-block;
}

#seleccionado {
  background-color: #11538C;
  color: white !important;
}


header img {
  width: auto;
  height: 18vh;
  z-index: 1;
  margin-right: auto; 
}

html {
  min-height:100%;
  position: relative;
}

h2 span{
display:none;
}



.bienvenida{
 font-size: 22px;
 padding:0.5em;
  color:white;
}

.usuario{
  color:rgb(218, 6, 6);
  font-weight: bold;
}

.cerrarsesion{
  font-size: 34px;
  margin-top:1.3em;
  margin-right:0.5em;
  height:50%;
  color:white;
  
}



#numeropuntos{
  text-align: center;
  color:black;
  text-decoration: underline;
  font-size: 25px;
}



/* Cuerpo */
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
}
 
main {
  flex: 1;
}

section{
  background-color: lightgray;
  margin:1.5em 1.5em 1.5em 1.5em;
  border-radius: 0.5em;
}


article{
  display:flex;
  flex-wrap:wrap;
  flex-direction:column;
  margin-top:2em;
  text-align: justify;
  background-color: white;
  padding:1em;
  border-radius: 0.5em;
 
}

h2{
	text-align:center;
	flex-basis:100%;
	padding:1em;
}

h3{
  text-align:center;
	flex-basis:100%;
}







/* Aside con los puntos */
aside{
  background-color:white;
  padding:1em;
  flex-basis:50%;
  border-radius: 0.5em;
 
}



aside h3{
  color:#11538C;
}



/* Pie de página */
footer{
  padding:1em;
  text-align:center;
  font-weight:bold;
  background-color:#252526;
  color:white; 
}


footer ul{
  list-style-type: none;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}


footer ul li{
  margin-left:1em;
}

footer ul li span{
  display:none;
}


#instagram,#twitter,#facebook{
  color:white;
}

#a{
  margin-top:auto;
  margin-bottom:auto;
}


.categorias{
  background-color: #2A2A2C;
  display:flex;
  flex-flow:column;
  align-items: center;
 
}


section{
  padding:2em;
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
}


/* Botón de subir hacia arriba */
.botonsubir {
  display:none;
}


/*--------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------*/

/*-- CONTENIDO PARA TABLET --*/
@media all and (min-width: 600px) {

  section{
    display:flex;
    flex-wrap: wrap;
  }

  header img{
    width: auto;
  }

  header label#hamburguesa span{
    left:-13em;
  }

  aside{
    flex-grow:1.5;
  
   
  }
 
    
    .primero{
      order:-2;
    }

 

}

/*--------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------*/


/*-- CONTENIDO PARA ESCRITORIO --*/
@media all and (min-width: 1000px) {
  /* Encabezado */
  header{
    height:8em;
  }
  header img{
    margin-left:5%;  
    width: auto;
    height: 100%;
  }

  header label#hamburguesa{
    display:none;
}

header ul#menu li{
 
  display:block;
  
 
}



header  ul#menu{
   
    height: 11.5vh;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left:25em;
    
    top:1.2em;
    
    background-color:rgba(42,42,44,0);
}


 #seleccionado {
  background-color: transparent;
  color: white !important;
}
  

.botonsubir {
	display:none;
	padding:20px;
	background:#11538C;
	font-size:20px;
	color:#fff;
	cursor:pointer;
	position: fixed;
	bottom:20px;
  right:20px;
  border-radius:2em;
  z-index:1;
}


.bienvenida{
  display: inline-block;
margin-left: 15em;
margin-top:0.2em;
padding:0;
  order:3;
  font-size: 25px;
}

.cerrarsesion{
  font-size: 32px;

height:1.4em;
  color:white;
}

section{
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
  
}


article {
  width:49%;
  padding:1em;
  margin-left:0.5em;
}

aside{
flex-basis:100%;
 background-image:url("../img/logotipo_opacidad.svg");
 background-position: center;
 background-color: white;
 background-size: 300px 200px;

}

.primero{
  order:-2;
  
}



  /* Footer */
  footer ul{
    justify-content: space-around;
  }

  footer ul li span{
    display:inline;
  }
  

  .fija { 
    position: fixed; 
    width: 100%;
    z-index: 999; 
    background-color:rgba(42,42,44,0.8);
    height:5.5em;
  }

  .fija2 { 
    width:auto;
    height:4.8em;
  }

  .fija3{
    margin-top:-1.2em;
  }

  .fija4{
    margin-top:-0.5em;
    color:white;
  }

  .fija5{
    margin-top:0.8em;
  }

 
}

/*--------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------*/
